<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if(s.length==0){ %>
    <p>No Blogs</p>
    <%}else{%> 
      <% s.forEach(prof=>{%>
       <p> <a href="/show/<%=prof._id%>"><%= prof.username %></a></p>
      <%})%>
    <%}%>
  </body>
</html>
